root = true

[*]
charset = utf-8
max_line_width = 80 # "printWidth": 80
indent_size = 2 # "tabWidth": 2
tab_width = 2 # "tabWidth": 2
indent_style = space # "useTabs": false
end_of_line = crlf # "endOfLine": "crlf"
insert_final_newline = true
trim_trailing_whitespace = true
